# pkg
*-arm64
*-x64
*-x64.exe

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo
*.js
*.js.map

# Test
coverage/

# Editor
.vscode/
.idea/
*.code-workspace

# Misc
.DS_Store
.env
.env.local
.env.*.local
.env.test
.env.test.local
logs/
dist/
